.signUp {
	display: flex;
	flex-direction: column;
	padding: 10rem 5rem;
}

.button {
	align-self: flex-start;
	background-color: var(--clr-accent-100);
	color: var(--clr-white);
	text-transform: capitalize;
	padding: 0.9rem 1.8rem;
	border-radius: var(--radius);
	cursor: pointer;
	transition: var(--trans);
}

.button:disabled {
	cursor: not-allowed;
	background-color: rgb(136, 77, 62);
}

.button:disabled:hover {
	background-color: rgb(136, 77, 62);
}

.button:hover {
	background-color: var(--clr-accent-50);
}

.label {
	font-size: 1rem;
}

@media screen and (min-width: 960px) {
	.label {
		font-size: 1.5rem;
	}
}

.signUp p {
	color: gray;
	margin-bottom: 10px;
	cursor: pointer;
}

.signUp p:hover {
	text-decoration: underline;
}

@media screen and (max-width: 960px) {
	.signUp {
		padding: 1rem;
	}
}
