.userNav {
	padding: 1em 0;
}

.userLink {
	text-transform: capitalize;
	padding: 1em 3em;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: var(--trans);
}

.userLink:hover {
	background-color: var(--clr-accent-50);
}

.active {
	background-color: var(--clr-accent-100);
}
