header {
	position: fixed;
	width: 100%;
	z-index: 998;
	/* background-color: transparent; */
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header img {
	max-width: 100%;
	display: block;
}

.formControl {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
}

.formControl label {
	font-size: small;
	text-transform: capitalize;
	font-weight: 600;
}
